.blog {
    margin: 0;
    padding: 30px 0 40px;
    color: $black;

    @media (min-width: 1200px) {
        padding: 80px 0 121px;
        margin-left: 5px;
    }

    &__container {
        width: 100%;
        max-width: 1230px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__header {
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-bottom: 40px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 71px;
        }

        h2 {
            font-size: 30px;
            line-height: 1.1;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 10px;

            @media (min-width: 768px) {
                font-size: 40px;
            }

            @media (min-width: 1024px) {
                font-size: 50px;
            }
        }

        p {
            font-size: 18px;
            line-height: 1.77;
        }
    }

    &__row {
        margin-bottom: 10px;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -10px;
        }
    }

    &__col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
        width: 100%;
        flex: 1 1 auto;

        @media (min-width: 768px) {
            width: 50%;
            flex: 1 1 auto;
        }

        @media (min-width: 1024px) {
            flex: 0 1 33.333%;
        }
    }

    &__item {
        background: $grey;
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 60px;
        }

        & a {
            overflow: hidden;
            transition: transform .2s linear;

            &:hover {
                transform: scale(0.98);
            }
        }

        &-photo {
            width: 100%;
        }

        h3 {
            flex: 1 1 auto;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.4;
            text-align: left;
            padding: 23px 25px 0;
            margin-bottom: 10px;
            
            @media (min-width: 768px) {
                font-size: 18px;
            }

            @media (min-width: 1200px) {
                font-size: 20px;
                margin-bottom: 19px;
                word-spacing: -1px;
            }
        }
    }

    &__stat {
        padding: 18px 12px 16px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        time {
            color: #ababab;
            font-size: 16px;
            line-height: 1.75;
            font-weight: 400;
            padding: 5px 9px;
        }
    }

    &__commit {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: 1.75;
        font-weight: 400;
        padding: 5px 8px;
        text-decoration: none;
        color: $red;
        transition: color .2s linear, text-decoration .2s linear;

        &:before {
            content: "";
            display: inline-block;
            width: 19px;
            height: 17px;
            background: url(../assets/blog/comments.png) 100%/cover no-repeat;
            margin-right: 8px;
            vertical-align: middle;
        }

        &:hover {
            color: #ababab;
            text-decoration: underline;
        }
    }

    &__footer {
        text-align: center;
    }

    &__btn {
        padding: 9px 51px;
    }
}