.headshot {
    position: relative;
    background: url("../assets/headshot.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 17px 0 20px;
    overflow: hidden;
    z-index: 99;
    
    @media (min-width: 1600px) {
        height: 399px;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $black;
        opacity: 0.6;
        left: 0px;
        top: 0px;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__mark {
        border: 2px solid rgba($white, .35);
        margin: 0 16px;
        z-index: 99;

        @media (min-width: 1600px) {
            margin: 0 16px;
            width: 1880px;
            height: 360px;
        }
    }

    &__container {
        width: 100%;
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__row {
        position: relative;
        z-index: 99;

        @media (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__left {
        text-align: center;
        padding-top: 40px;

        @media (min-width: 1200px) {
            width: 70%;
            padding: 115px 0 90px 7px;
        }
        
        h2 {
            font-size: 30px;
            line-height: 1.1;
            font-weight: 600;
            color: $white;
            position: relative;
            z-index: 999;
            margin-bottom: 40px;
            
            @media (min-width: 768px) {
                font-size: 40px;
                text-align: center;
            }

            @media (min-width: 1200px) {
                font-size: 50px;
                text-align: left;
            }
        }
    }

    &__right {
        text-align: center;
        margin-bottom: 10px;
        padding-top: 20px;

        @media (min-width: 1200px) {
            padding-top: 0;
            margin-bottom: 0;
            text-align: left;
        }
    }

    &__btn {
        padding: 8px 65px;
        margin-bottom: 5px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}