.useful {
    background: $grey;
    padding: 30px 0;

    @media (min-width: 1200px) {
        padding: 74px 0 100px 0;
    }

    .container {
        max-width: 1610px;
        padding: 0 15px;
    }

    &__top {

        @media (min-width: 768px) {
            padding-left: 19px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            justify-content: center;
        }
        
        @media (min-width: 1200px) {
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 0;
        }
    }

    &__text {
        max-width: 625px;
        padding-bottom: 10px;
    }

    &__line {

        @media (min-width: 768px) {
            padding-left: 24px;
        }
    }

    &__col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        position: relative;
        padding: 0 20px 30px;

        @media (min-width: 1200px) {
            width: 50%;
            padding: 0;
            display: initial;
            padding: 0;
        }

        &:only-child {
            width: 100%;

            .useful__text {
                max-width: 100%;
            }
        }
        
        &.useful__col-tips {
            padding: 0 20px;
            
            @media (min-width: 768px) {
                padding: 0 0 0 42px;
            }
        }

        &:first-child {
            color: $black;

            h2 {
                font-size: 30px;
                font-weight: 600;
                line-height: 1.1;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    font-size: 40px;
                }

                @media (min-width: 1200px) {
                    font-size: 50px;
                    margin-bottom: 32px;
                }
            }

            p {
                font-size: 18px;
                line-height: 1.77;
            }

            &:before {
                content: "";
                background: transparent url('../assets/useful/arrow_icon.png') no-repeat 50% 50%/contain;
                width: 63px;
                height: 140px;
                position: absolute;
                top: calc(100% - 97px);
                left: -4px;

                @media (min-width: 768px){
                    left: 8px;
                    top: calc(100% - 97px);
                }
            }
        }

        ul {
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -25px;

            li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding-bottom: 11px;
                margin: 0 5px 43px;

                @media (min-width: 768px) {
                    width: calc(50% - 50px);
                    margin: 0 5px 43px;
                }

                &:last-child:nth-child(odd) {
                    
                    @media (min-width: 768px) {
                        margin-left: calc(50% + 50px);
                        margin-bottom: 0;

                    }
                }

                img {
                    text-align: left;

                    @media (min-width: 768px) {
                        max-width: 76px;
                        max-height: 61px;
                        text-align: center;
                    }
                }

                p {
                    width: 240px;

                    @media (min-width: 768px) {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    &__img {
        margin-bottom: 49px;
        max-width: 256px;

        @media (min-width: 1200px) {
            margin-bottom: 66px;
        }
    }

    &__bottom {
        max-width: 1060px;
        background: $black;
        color: $white;
        padding: 40px 20px;
        
        @media (min-width: 768px) {
            margin-left: 133px;
            padding: 40px 60px;
        }

        @media (min-width: 1200px) {
            padding: 51px 66px 25px 78px;
        }

        h3 {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.27;
            text-transform: uppercase;
            margin-bottom: 20px;

            @media (min-width: 1200px) {
                margin-bottom: 32px;
            }
        }

        span {
            border-bottom: 1px solid $red;
        }

        p {
            font-size: 18px;
            line-height: 1.77;
            font-weight: 300;
            margin-bottom: 20px;

            @media (min-width: 1200px) {
                margin-bottom: 35px;
            }
        }
    }
}