$white: #fff;
$black: #222;
$red: #ff3c2d;
$grey: #f6f6f6;

.btn {
    padding: 3px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    background: $grey;
    color: $white;
    border-radius: 3px;
    font-size: 15px;
    line-height: 1.556;
    display: inline-block;
    vertical-align: middle;
    transition: background-color .2s linear;

    @media (min-width: 768px) {
        font-size: 18px;
        line-height: 1.556;
    }

    &:hover {
        background-color: darken($grey, 15%);
    }

    &--red {
        background: $red;

        &:hover {
            background-color: darken($red, 15%);
        }
    }

    &--black {
        background: $black;

        &:hover {
            background-color: darken($grey, 55%);
        }
    }
}

.slider {
    position: relative;
    overflow: hidden;
}

.slick-list {
    overflow: hidden;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        bottom: -25px;
    }
    
    li {
        width: 100%;
        list-style: none;
        margin: 0px 10px;
        
        button {
            font-size: 0;
            padding: 0;
            cursor: pointer;
            width: 10px;
            height: 10px;
            background-color: #cfcfcf;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: all 0.2s linear;
            
            &::before {
                display: none;
            }

            &:hover {
                background-color: transparent;
                border: 1px solid $red;
            }
        }
        
    }
    
    li.slick-active button {
        background-color: transparent;
        border: 1px solid $red;
    }
}