@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "_reset";

$white: #fff;
$black: #222;
$red: #ff3c2d;
$grey: #f6f6f6;

@import "_vars";
@import "_header";
@import "_intro";
@import "_sessions";
@import "_map";
@import "_useful";
@import "_clients";
@import "_headshot";
@import "_blog";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: $white;
}

#wrapper {
    overflow: hidden;
    min-height: 100%;
}
