@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "_reset";
@import "_vars";
@import "_header";
@import "_intro";
@import "_sessions";
@import "_map";
@import "_services";
@import "_useful";
@import "_clients";
@import "_headshot";
@import "_blog";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: $white;
}

#wrapper {
    overflow: hidden;
    min-height: 100%;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 99;
}
