@font-face {
	font-family :'BlowholeBBRegular';
	src :url('../fonts/BlowholeBB.eot');
	src :url('../fonts/BlowholeBB.woff') format('woff'),
		url('../fonts/BlowholeBB.ttf') format('truetype');
	font-weight :normal;
	font-style :normal;
}