
@font-face {
	font-family: 'GothaProMed';
	src: url('../fonts/GothaProMed.eot');
	src: local('☺'), url('../fonts/GothaProMed.woff') format('woff'), url('../fonts/GothaProMed.ttf') format('truetype'), url('../fonts/GothaProMed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/* header  */
.header {
   padding: 20px 0;
   background-color: #445162;
}

.container {
   max-width: 1180px;
   margin: 0px auto;
}

.header-row {
   display: flex;
   justify-content: space-between;
}

.header-image {
   padding: 0px 20px 0px 0px;
}

.header-body {
   padding: 0px 20px 0px 0px;
   color: #ffffff;
   opacity: .7;
}

.header-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   font-weight: 700;
   text-align: center;
   border: 1px solid #fff;
   border-radius: 50px;
   background-color: #fff;
   color: #445162;
   margin: 0px 0px 60px 0px;
   padding: 5px 10px;
}

.header-list li {
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   font-weight: 500;
   margin: 0px 0px 35px 0px;
}

.header-list li:last-child {
   margin: 0;
}

/* main */
.main-container {
   width: 1180px;
   margin: 0 auto;
   padding: 20px 0;   
   background: #f5f5f5;
}

.main-content {
   display: flex;
   margin: 0 auto;
}

/* sidebar-section */
.sidebar-section {
   background: #b0caec;
   color: #445162;
   max-width: 300px;
   padding: 20px 0;
}

.sidebar-section img {
   margin-bottom: 20px;
}

.sidebar-content {
   margin-top: 50px;
   margin-left: 40px;
   padding: 0 10px 0 0;
}

.sidebar-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   font-weight: 700;
   font-style: normal;
   padding-bottom: 8px;
   margin: 0;
}

.sidebar-section-type {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   font-style: normal;
   margin-right: 7px;
}

.sidebar-section-link {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
   font-style: normal;
   color: #445162;
   opacity: 0.7;
}

.phone {
   text-decoration: none;
}

/* home-section */
.home-section {
   padding: 20px 70px 0 70px;
}

.home-section-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 29px;
   font-weight: 700;
   font-style: normal;
   text-align: center;
   border: 1px solid #445162;
   border-radius: 50px;
   background-color: #445162;
   color: #c5c9cf;
   margin: 0 0 22px 0px;
   padding: 20px 10px;
}

.home-section-text {
	font-family: 'GothaProMed', sans-serif;
   font-size: 14px;
   font-weight: 400;
   font-style: italic;
   color: #445162;
   margin: 0 0 20px 0px;
}

/* author-section */
.author-section {
   padding: 20px 70px 0 70px;
   text-align: center;
}

.author-section h3 {
   font-family: 'GothaProMed', sans-serif;
   font-size: 16px;
   font-weight: 400;
   font-style: italic;
   color: #445162;
   margin: 0 0 20px 0px;
}

.author-section p {
   font-family: 'GothaProMed', sans-serif;
   font-size: 14px;
   font-weight: 400;
   font-style: italic;
   color: #445162;
   margin: 0 0 20px 0px;
}

/* footer */
.footer {
   background-color: #445162;
   padding-top: 20px;
}

.footer-row {
   padding-top: 15px;
   padding-bottom: 15px;
}

.footer-nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 20px;
}

.footer-nav-list {
   display: flex;
}

.footer-nav-list li {
   margin-left: 50px;
}

.footer-nav-list li:first-child {
   margin-left: 0;
}

.footer-nav-link {
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   color: #fff;
   text-decoration: none;
   opacity: .7;
}

.footer-copyright {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   color: #fff;
   font-size: 12px;
   opacity: .7;
}
